.pendingView{
    height: 100%;
    width: 32%;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    overflow-y: auto;
    background-color: white;
    border-radius: 1rem;
}

.pendingView h1{
    font-size: 1.3rem;
}

.pendingView::-webkit-scrollbar{
    display: none;
}